* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

header {
  background: #fff;
  color: #1c1b1b;
  padding: 1rem 0;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8rem;
}

.logo {
  font-size: 2.4rem;
  color: #312620;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  color: #211917;
  text-decoration: none;
  font-size: 1.6rem;
}

.nav-links a:hover {
  background-color: #4b3d3a;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  z-index: 1001; /* Ensure the toggle button is above other elements */
}

.nav-toggle .hamburger {
  width: 2.5rem;
  height: 0.3rem;
  left: .1rem;
  background-color: #211917;
  position: relative;
  display: block;
  margin: auto;
  transition: all 0.3s;
}

.nav-toggle .hamburger::before,
.nav-toggle .hamburger::after {
  content: '';
  position: absolute;
  width: 2.5rem;
  height: 0.3rem;
  background-color: #211917;
  transition: all 0.3s;
}

.nav-toggle .hamburger::before {
  transform: translateY(-8px);
}

.nav-toggle .hamburger::after {
  transform: translateY(8px);
}

.nav-toggle.active .hamburger {
  background: transparent;
}

.nav-toggle.active .hamburger::before {
  transform: rotate(45deg);
}

.nav-toggle.active .hamburger::after {
  transform: rotate(-45deg);
}

.hero {
  background: url(image/ola.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 8rem;
  background-position: center;
  background-size: cover;
}

.hero-content {
  max-width: 60rem;
  
}

.hero-heading {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #4b3d3a;
}

.hero-text {
  margin-bottom: 2.2rem;
  color: #2d2d2d;
}

.about {
  padding: 5rem 8rem;
  text-align: center;
}

.about h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #4b3d3a;
}


.about-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-text-content {
  flex: 1;
  max-width: 60rem;
  text-align: left;
  top:-1rem;
}

.about-headings {
  margin-top: 0;
  color: #312320;
}
.about-text {
  color: #2d2d2d;
}
.about img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}
.btn-content {
  margin-top: 2rem;
}
.btn {
  background-color: #4b3d3a;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #211917; 
}

.service-card p,
.project-card p,
.contact form {
  max-width: 60rem;
  margin: 0 auto;
}

.services {
  padding: 5rem 8rem;
}

.services h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #4b3d3a;
}

.services-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 120rem;
  margin: 0 auto;
}

.services-text-content {
  flex: 1;
  padding-right: 2rem;
}

.services-headings {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: left;
  color: #312320;
}

.services-list {
  margin-top: 2rem;
}

.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  color: #2d2d2d;
}

.service-number {
  color: #696767;
  margin-right: 1rem;
}

.service-name {
  flex: 1;
  font-weight: bold;
  text-align: left;
}

.service-arrow {
  background: none;
  border: none;
  cursor: pointer;
}

.service-arrow i {
  color: #f48d39;
}

.service-description {
  display: none;
  margin-top: 1rem;
  font-size: 1.4rem;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}

.service-description.active {
  display: block;
}

.image-container {
  position: relative;
  flex: 1;
}

.services-image {
  object-fit: cover;
}

.big-image {
  width: 40rem;
  height: 40rem;
  border-radius: 1rem;
}

.small-image {
  position: absolute;
  bottom: -5rem;
  right: 6rem;
  width: 20rem;
  height: 30rem;
  border-radius: 1rem;
}
.projects {
  padding: 5rem 8rem;
  text-align: center;
}
.projects h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #4b3d3a;
}

.project-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card {
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 1rem;
  width: 38rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

.project-headings {
  margin: 5px;
}

.project-image {
  width: 35rem;
  height: 35rem;
  border-radius: 1rem;
  transition: opacity 0.5s ease-in-out;
}

.project-card img.hidden {
  opacity: 0;
}

.project-btn {
  background-color: transparent; /* Transparent background */
  border: none;
  cursor: pointer;
  color:#312320 ;
  transition: color 0.3s ease; /* Smooth transition for color change */
  font-size: 3rem;
}

.project-btn:hover {
  color: #211917; /* Change color on hover */
}

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.contact {
  padding: 5rem 8rem;
  text-align: center;
}
.contact h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #4b3d3a;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #f4f4f4;
  padding: 2rem;
  border-radius: 1rem;
}

.contact .form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact .form-group label {
  margin-bottom: 0.5rem;
}

.contact .form-group input,
.contact .form-group textarea {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.contact .form-group .error-message {
  color: red;
  font-size: 1.2rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.contact .btn {
  background: #312320;
  color: #fff;
  padding: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.footer-socialmedia {
  text-align: center;
  padding: 2rem;
  background: #333;
  color: #fff;
}

.socialmedia-text {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.footer-list li {
  display: inline-block;
}

.footer-icon {
  color: #fff;
  font-size: 2.5rem;
  transition: color 0.3s;
}

.footer-icon:hover {
  color: #312320;
}

footer p {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 2rem;
  margin: 0;
}

@media only screen and (max-width: 75em) {
  header {
    padding: 1rem 3rem; 
  }
  .services-content {
    padding: 0 1rem;
  }
  .about-content {
    padding: 0 1rem;
  }
  .big-image {
    width: 30rem;
    height: 30rem;
  }
  .small-image {
    bottom: -5rem;
    right: 4rem;
    width: 15rem;
    height: 20rem;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
}

@media only screen and (max-width: 56em) {
  nav {
    padding: 1.5rem ;
  }
  .nav-links {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    align-items: center;
  }
  .nav-links li {
    margin: 1rem 0;
  }
  .nav-links.show {
    display: flex;
  }
  .nav-toggle {
    display: block;
  }
  .hero {
    padding: 0 2rem;
    padding-top: 10rem;
    height: 70vh;
  }
  .hero-heading {
    font-size: 3.6rem;
  }
  .services-content {
    flex-direction: column;
    align-items: center;
    margin: 0 2rem; /* Add margin on the sides */
    width: calc(100% - 4rem); /* Ensure it takes full width minus 2rem margin on each side */
  }

  .services-text-content {
    padding-right: 0;
    text-align: center;
  }

  .services-headings {
    text-align: center;
  }
  .project-card {
    width: 100%;
    
  }
  .projects .project-cards {
    flex-direction: column;
    gap: 2rem; 
  }
 
  .project-image {
    width: 100%;
    height: 25rem;
  }
  .contact {
    padding: 2rem;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 65% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
}

@media screen and (max-width: 56em) {
  header {
    padding: 1rem ; 
  }
  .hero-heading {
    font-size: 2.8rem;
  }
  .hero-content {
    padding: 1rem;
  }
  .services,
  .about {
    padding: 2rem;
  }
  .about-content {
    flex-direction: column;
  }
  .services-content {
    padding: 0 2rem;
  }
  .projects {
    padding: 4rem 2rem;
  }
  .services-image {
    width: 20rem;
    height: 20rem;
  }

  .contact {
    padding: 2rem;
  }
}
